<header class="card_header">
  <div class="card_user">
    <div class="card_input">
      <div class="search-wrap">
        <lucide-angular
          class="searchIcon"
          [img]="searchIcon"
          [size]="18"
          [strokeWidth]="2.3"
        ></lucide-angular>

        <input
          type="text"
          placeholder="¿Qué estás buscando?"
        />
      </div>
    </div>

    <div class="card_profile">
      <div class="user-box">
        <img
          [src]="displayImage"
          alt="Foto de perfil"
          class="image"
        />

        <div class="card_text">
          <p class="username">
            {{ username || 'Usuario' }}
          </p>
        </div>
      </div>

      <div
        class="network-box"
        [class.offline]="!isOnline"
        [title]="networkType"
      >
        <lucide-angular
          class="network-icon"
          [img]="networkIcon"
          [size]="18"
          [strokeWidth]="2.4"
        ></lucide-angular>
      </div>
    </div>
  </div>
</header>
