<div class="background_recover">
  <section class="recover_form">
    <div class="card_form">
      <div class="recover_img">
        <img
          class="img"
          src="assets/auth/LogoAR.svg"
          alt="Logo ABS"
        />
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="tittle">
          <h1>RECUPERAR CONTRASEÑA</h1>
          <p>Ingresa tu correo electrónico para buscar tu cuenta.</p>
        </div>

        <div class="card_auth">
          <div class="alert error" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <div class="alert info" *ngIf="infoMessage">
            {{ infoMessage }}
          </div>

          <div class="card_user">
            <label class="card_label" for="email">Usuario:</label>
            <input
              id="email"
              type="email"
              placeholder="abc@autoradiador.com"
              autocomplete="username"
              class="card_input"
              formControlName="email"
            />
          </div>

          <div class="card_button">
            <button
              type="button"
              class="botoncancel"
              (click)="goBack()"
            >
              Cancelar
            </button>

            <button class="botonrecover" type="submit">
              Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>