[data-theme='dark'] {
  --abs-bg: #111827;
  --abs-surface: #1f2937;
  --abs-surface-soft: #374151;
  --abs-text: #f9fafb;
  --abs-text-muted: #d1d5db;
  --abs-border: #4b5563;

  --abs-primary: #c72026;
  --abs-primary-hover: #eb484e;

  --abs-sidebar-bg: #1f2937;
  --abs-header-bg: #111827;

  --abs-error: #dc2626;
  --abs-warning: #f59e0b;
  --abs-success: #16a34a;
  --abs-info: #3b82f6;
}